
.container ul li {
    padding: 30px;
}

.fluid-container
{
    background:linear-gradient(to right,lightblue,lightpink);
      
     
}
.container a:hover
{
    background-color: chartreuse;
}
.container 
{    /* position: sticky;
    top:0; */
    background:linear-gradient(to right,lightblue,lightpink);
    text-transform: uppercase;
   
    
}
.nav nav-tabs
{
    
    /* top:0; */
}

.d1{
    background-color:yellow;
    width:1500px;
}
.d1 img
{
width:100%;
}
/* .col-sm-4,.col-sm-8
{
     background-color:;
    
} */
.caps
{
    text-transform: uppercase;
}
body{
    background:linear-gradient(to right bottom,lightgrey,lightblue);
}
